




/*   Body */



/*body {*/
    /*background-color: #004f94;*/
/*background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");*/
/*!* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *!*/
/*height: 100%;*/
/*}*/





body {height: auto}





/* Navigation Bar*/



.navContainer {
position: fixed;
top:0;
left: 0;
overflow: hidden;
width: 100%;
height: 4.6em;
background-color: #0068b8;
background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
margin: 0 auto;
z-index: 10;
}


.navContainer .navList {
list-style-type: none;
margin: 0 auto;
width: 60em;
padding: 0;
}



.navContainer .navList .listNav {
float: left;

}

.navContainer .navList .listNav a {
display: block;
padding: .7em;
border: 1px solid white;
border-radius: .5em;
margin-top: 1em ;
margin-left: 1.5em;
text-decoration: none;
background-color: white;
color: black;
font-variant: small-caps;

}

.navContainer ul a:focus {
co: #fff;
}

.navContainer ul a:hover {
background-color: #0068b8;
color: white;
border: 1px solid #0068b8;

}

.navContainer ul a:active {
position:relative;
bottom: .3em;
left: .2em;
color: #fff;


}

/*End Navigation*/






/*Begin Calculator*/


/*basic reset*/

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font: bold 14px Arial, sans-serif;
}

.wrapper {
    position: relative;
    height: 100%;
}

html {
    background: #fff;
    background: radial-gradient(circle,#fff 20%, #ccc);
}

.calculator {
    width: 325px;
    height: auto;
    margin: 200px auto;
    box-shadow: 1px 5px 26px 0px rgba(0,0,0,0.56);
    background:#9BCFEB;
    padding: 20px;
}

.keys,.top {
   overflow: hidden;
}

.keys span, .top span.clear {
    position: relative;
    width: 66px;
    height: 36px;
    float:  left;
    margin: 0 7px 11px 0;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    /*typography*/
    user-select: none;
    color: #888;
    line-height: 36px;
    text-align: center;


    box-shadow: 0 4px rgba(0,0,0,0.2);

    /*smooth transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*screen */

.top .screen {
    float: right;
    width: 212px;
    height: 40px;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0px 4px rgba(0,0,0,0.2);

    /*typography*/
    font-size: 17px;
    text-align: right;
    padding: 0 11px;
    line-height: 40px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.keys span.operator {
    margin-right: 0;
}

.keys span.eval {
    background: #ff8566;
    color:#fff;
}

.top span.clear {
    background: #ff8566;
    color: #fff;
}



/*hover effects*/
.keys span:hover{
    background: #ffb3d9;
    color:#fff;
}

.keys span.eval:hover {
    background: #ff9999;
    color:#fff;
}

.top span.clear:hover {
    background: #ff9999;
    color: #fff;
}


.keys span:active {
    top:4px;
    box-shadow: 0 0 rgba(0,0,0,0.2);
}

.keys span.eval:active {
    background: #ff8566;
    box-shadow: 0 0 rgba(0,0,0,0.2);
    color:#fff;
    top: 4px;
}

.top span.clear:active {
    background: #ff8566;
    box-shadow: 0 0 rgba(0,0,0,0.2);
    color: #fff;
    top:4px;
}
/*End Calculator*/





footer {
    width:100%;
    height:20px;
    position:absolute;
    bottom:0;
    left:0;

}

footer > p {
    margin: 0 auto;
    width: 23em;
    color: #888;
    font-size: small;
    font-variant: small-caps;
}






